.cardsWrapper {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
}

.cardsWrapper > * {
  flex: 0 1 calc(95% / 4);
}
.cardsWrapper img {
  width: 100%;
}

.card {
  background-color: var(--color-scandery);
  max-height: 20rem;
  border-radius: 0.625rem;
  padding-top: 0.625rem;
  color: var(--color-third);
  margin-bottom: 1.7%;
  text-decoration: none;
  overflow: hidden;
}
.card > h3 {
  text-align: center;
  padding-block: 0.625rem;
}

.card h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-inline: 0.625rem;
  margin-bottom: 0.625rem;
}

/* Responsive */
@media only screen and (max-width: 62rem) {
  .cardsWrapper > * {
    flex: 0 1 49%;
  }
}
@media only screen and (max-width: 37.5rem) {
  .cardsWrapper > * {
    flex: 0 1 100%;
  }
}
