.details {
  min-height: 90vh;
}

.detailsWrapper {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
  min-height: 80vh;
  color: var(--color-third);
}

.detailsWrapper > * {
  flex: 0 1 calc((98% / 2));
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.detailsWrapper img {
  width: 100%;
}

.detailsWrapper .info h2 {
  margin-bottom: 1.25rem;
}

.btnBack {
  all: unset;
  color: white;
  margin-bottom: 1.25rem;
  cursor: pointer;
  text-transform: capitalize;
}

.imageWrapper {
  border-radius: 0.625rem;
  overflow: hidden;
  max-height: 25rem;
}

.voteBtn {
  all: unset;
  background-color: var(--color-fourth);
  color: white;
  padding-inline: 1.25rem;
  padding-block: 0.625rem;
  font-size: 1.25rem;
  border-radius: 0.625rem;
  text-transform: capitalize;
  cursor: pointer;
  transition: background-color 0.5s ease;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 3.125rem;
}

.voteBtn:hover {
  background-color: var(--color-scandery);
}

/* Responsive */
@media only screen and (max-width: 62rem) {
  .detailsWrapper > * {
    flex: 0 1 100%;
  }

  .info {
    margin-top: 1.25rem;
  }

  .info > h2 {
    justify-content: center;
  }

  .btnBack {
    margin-top: 1.25rem;
  }

  .voteBtn {
    margin-inline: auto;
  }
}

@media only screen and (max-width: 37.5rem) {
  .title {
    text-align: center;
  }
}
