.detailsWrapper {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
  min-height: 80vh;
  color: var(--color-third);
}

.detailsWrapper > * {
  flex: 0 1 calc((98% / 2));
}

.detailsWrapper .info h2 {
  margin-bottom: 1.25rem;
}

.btnBack {
  all: unset;
  color: white;
  margin-bottom: 1.25rem;
  cursor: pointer;
  text-transform: capitalize;
}
