.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding-block: 1.25rem;
  background-color: var(--color-scandery);
  text-transform: capitalize;
  margin-top: 1.875rem;
}
