*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #056651;
  --color-scandery: #005340;
  --color-third: #c2c794;
  --color-fourth: #084639;
}

html {
  box-sizing: inherit;

  @media only screen and (max-width: 37.5rem) {
    font-size: 85%;
  }
}

body {
  font-family: sans-serif;
  background-color: var(--color-primary);
}

.position-rl {
  position: relative;
}

.overflow-hid {
  overflow: hidden;
}

.container {
  max-width: 80rem;
  padding-inline: 0.625rem;
  margin-inline: auto;
}

.headTitle {
  font-size: 2.5rem;
  color: white;
  margin-block: 2.125rem;
}

.flex {
  display: flex;
  gap: 10px;
}

.flex > * {
  flex-shrink: 0;
}

/* Responsive */
@media only screen and (max-width: 62rem) {
  .headTitle {
    text-align: center;
  }
}
